---
import Layout from '../../layouts/Layout.astro';

const id = Astro.params.id;
const API_BASE_PATH = import.meta.env.API_BASE_PATH;

const thisDay = await fetch(import.meta.env.API_BASE_PATH + 'days/' + id);
const thisDayData = await thisDay.json();

const games = thisDayData.games;
---

<Layout title="Welcome to Astro.">
	<main>
    <div class="pt-6 md:p-8 text-center md:t space-y-4">
      <div id="date" class="">{thisDayData.date}</div>

      {games.map( (game) => (
        <div id={game.name.replace(/\s/g, "")} class="">{game.name}</div>
      ))}

    </div>
	</main>
</Layout>
