---
import Layout from '../../layouts/Layout.astro';

const id = Astro.params.id;
const API_BASE_PATH = import.meta.env.API_BASE_PATH;

const thisDay = await fetch(import.meta.env.API_BASE_PATH + 'days/' + id);
const thisDayData = await thisDay.json();

const games = thisDayData.games;
---

<Layout title="Welcome to Astro.">
  <div id="date" class="text-center">{thisDayData.date}</div>
	<main>
    <figure class="drop-shadow-md md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
      <div class="pt-6 md:p-8 text-center md:t space-y-4">

        {games.map((game) => (
          <div id={game.name.replace(/\s/g, "")} class="">{game.name}</div>
        ))}

      </div>
    </figure>
	</main>
</Layout>
